body {
    margin: 0;
    font-family: 'Kanit';
}

.bar {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    color: #333;
    box-sizing: border-box;
    box-shadow: 10px 4px 8px rgba(0, 10, 0, 0.2);
    position: relative;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 3rem;
    margin-right: 10px;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin-left: 20px;
}

.about-me {
    padding: 0.5rem;
    border-radius: 4px;
}

.nav-links a {
    color: #333;
    font-weight: bold;
    text-decoration: none;
}

.about-me:hover {
    background-color: #333;
}

.about-me a {
    color: #333;
    font-weight: 500;
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 5px;
}

.about-me a:hover {
    color: white;
}

@media (max-width: 600px) {
    .nav-links {
        display: none;
    }
}