/* Header.css */
header {
  background-color: white;
  display: flex;
  flex-direction: column;
  color: #333;
  box-sizing: border-box;
  position: relative;
}

.tab {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 10px 4px 8px rgba(0, 10, 0, 0.2);
  padding: 1rem 2rem;
}


.kmitl-logo img {
  height: 3rem;
}

.header-text {
  text-align: center;
}

.header-text h1 {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
  margin: 0;
}