/* Header.css */
header {
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
  padding: 2rem;
  background-color: #f8f9fa;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* position: relative; */
}

/* GitHub Logo มุมขวาบน */
.github-logo {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  
}

.github-logo img {
  height: 2.5rem; 
}

.kmitl-logo img {
  height: 7rem; 
  margin-top: 2rem; 
}

.header-text {
  margin-top: 1rem; 
  text-align: center;
}

.header-text h1 {
  font-size: 1.5rem;
  font-weight: 400;
  color: #636363;
  margin: 0;
}