@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;700&display=swap');

body {
  font-family: 'Kanit', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

main {
  padding: 2rem;
}


footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
}


footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
}
