.re-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.re-card {
  border: 2px solid #ddd;
  border-radius: 4px;
  color: #333;
  padding: 0.7rem 1.5rem 0 1.5rem;
  position: relative;
}

.top {
  display: flex;
  justify-content: space-between;
}
.top p {
  font-size: 1.3rem;
  font-weight: bold;
  color: #333;
}

.name-grade {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.name-grade p{
  margin: 0;
}

.grade {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 2rem;
  height: 70%;
  padding: 0.5rem;
  border: 2px solid #777;
  border-radius: 20%;
}

.grade p {
  font-size: 1rem;
  color: #e35205;
}

.average-score-container {
  font-size: 1.5rem;
}

.rate-delete {
  display: flex;
  align-items: center;
  gap: 1rem
}

.mid {
  font-size: 1rem;
  color: #333;
  overflow-wrap: break-word;
  flex-grow: 1;
  margin: 0 2rem;
}

.mid p {
  margin: 0;
}

.bot {
  margin-top: 0.5rem;
}

.bot p {
  color: #555;
}

.delete-button {
  color: #777;
  cursor: pointer;
  font-size: 2rem;
  font-weight: 500;
}

.delete-button:hover {
  color: #e35205;
}

.no-reviews-message {
  font-style: italic;
  color: #888;
  text-align: center;
  margin-top: 10px;
}

@media (max-width: 576px) {
  .top p,
  .average-score-container {
    font-size: 1rem;
  }

  .name-grade {
    gap: 0.5rem;
  }
  .mid {
    margin: 0;
  }
}

